%h1
  = @category
%ul.stack.button-group
  - for category in @category.children
    %li
      = link_to category, category_path(category), :class => 'button'
%hr
.button-bar
  %ul.button-group
    - for product in @category.products
      %li
        = link_to product, product_path(product), :class => 'button'